/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font), sans-serif;
  font-weight: normal;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  padding-block-start: var(--accent-padding);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;

  @media (max-width: 375px) {
    padding-block-start: 0;
  }
}

.header__theme-menu {
  margin-block-end: 273px;

  @media (max-width: 768px) {
    margin-block-end: 173px;
  }

  @media (max-width: 375px) {
    margin-block-end: 65px;
  }
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding: 0 13px 2px;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px var(--accent-color) solid;
}

.header__theme-menu-button:disabled {
  border: 1px var(--accent-color) solid;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--accent-color) solid;
  outline: none;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;

  @media (max-width: 768px) {
    grid-auto-flow: row;
    justify-content: flex-end;
    margin-block-start: 192px;
    padding-inline-end: var(--accent-padding);
  }

  @media (max-width: 375px) {
    grid-auto-flow: row;
    justify-content: flex-end;
    margin-block-start: 75px;
    padding-inline-end: var(--mobile-padding);
  }
}

.rec-container-upper {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  inset-block-start: 20px;
  inset-inline-end: 28px;

  @media (max-width: 375px) {
    inset-block-start: 10px;
    inset-inline-end: 18px;
  }
}

.rec-container-lower {
  position: absolute;
  width: 24px;
  height: 24px;
  border-inline-start: 1px var(--accent-color) solid;
  border-block-end: 1px var(--accent-color) solid;
  inset-inline-start: 20px;
  inset-block-end: 20px;

  @media (max-width: 375px) {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}

.rec-text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 139%;
}

.rec-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.rec-ellipse::after {
  content: "";
  border-inline-end: 1px var(--accent-color) solid;
  border-block-start: 1px var(--accent-color) solid;
  padding: 24px 24px 0 0;
}

.header-title {
  margin-block-end: 114px;
  color: var(--title-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (max-width: 768px) {
    margin-block-end: 162px;
  }

  @media (max-width: 375px) {
    display: flex;
    justify-self: center;
    margin: 0 var(--mobile-padding) 55px;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 50%;
  margin-inline-end: 20px;
  margin-block-end: 134px;
  color: #000028;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: 375px) {
    justify-self: center;
    width: auto;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-end: 66px;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  margin-block-start: 60px;
  padding: 0 var(--accent-padding);

  @media (max-width: 375px) {
    margin-block-start: 40px;
    padding: 0 var(--mobile-padding);
  }
}

.main-section__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main-section__text-link:hover {
  border-block-end: 1px var(--text-color) solid;
}

.main-section__text-link:focus-visible {
  outline: 1px var(--text-color) solid;
}

.main-section-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  margin-block-end: 60px;
  gap: 20px;

  @media (max-width: 768px) {
    margin-block-end: 80px;
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    margin-block-end: 50px;
  }
}

.main-section__title {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
}

.main-section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section__list-title {
  margin-block-end: 10px;
  color: #000028;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.main-section-two {
  margin-block-end: 60px;

  @media (max-width: 768px) {
    margin-block-end: 80px;
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    margin-block-end: 50px;
  }
}

.main-section__text {
  color: var(--text-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.main-section-two__title {
  width: 30%;
  margin-block-start: 60px;
  margin-block-end: 20px;

  @media (max-width: 768px) {
    margin-block-start: 80px;
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-start: 0;
  }
}

.main-section-two__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.main-section-three {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 20px;
  margin-block-end: 60px;

  @media (max-width: 768px) {
    margin-block-end: 80px;
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    margin-block-end: 50px;
  }
}

.main-section-three__list-title {
  margin-block-end: 0;
}

.title-decor__no-bold-font {
  font-weight: normal;
  font-size: 18px;
}

.images-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  justify-content: center;
  gap: 20px;
  margin-block-start: 20px;

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images-block__image1 {
  grid-column-end: span 2;
}

.images-block__image2 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.images-block__image3 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.images-block__image5 {
  grid-column-end: span 2;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
}

.footer-title {
  margin: 319px 277px;
  color: var(--title-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);

  @media (max-width: 768px) {
    margin: 463px 204px;
  }
}

.rec-container-footer-upper {
  position: absolute;
  width: 24px;
  height: 24px;
  border-inline-end: 1px var(--accent-color) solid;
  border-block-start: 1px var(--accent-color) solid;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.rec-container-footer-lower {
  position: absolute;
  width: 24px;
  height: 24px;
  border-inline-start: 1px var(--accent-color) solid;
  border-block-end: 1px var(--accent-color) solid;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}
