/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --main-font: "IBM Plex mono", sans-serif;
  --accent-padding: 20px;
  --mobile-padding: 10px;
}
